
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Sử dụng ng-class trong Angular-JS</title>
    <meta name="description" content="">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/screen.css?v=a5b69b1abb">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/monokai_sublime.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud.css">

    <link rel="canonical" href="http://localhost:2368/angularjs-using-ng-class/">
    <meta name="referrer" content="origin">
    
    <meta property="og:site_name" content="viphat's notes">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Sử dụng ng-class trong Angular-JS">
    <meta property="og:description" content="Hôm nay, mình lại tiếp tục với một bài khác cũng về AngularJS.  AngularJS cung cấp một vài chức năng tuyệt vời để giúp chúng ta tạo một ứng dụng tương tác. AngularJS cung cấp một thứ gọi là Directives...">
    <meta property="og:url" content="http://localhost:2368/angularjs-using-ng-class/">
    <meta property="og:image" content="http://localhost:2368/content/images/2015/12/unnamed.png">
    <meta property="article:published_time" content="2015-12-15T23:55:21.219Z">
    <meta property="article:modified_time" content="2015-12-16T16:25:27.320Z">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Sử dụng ng-class trong Angular-JS">
    <meta name="twitter:description" content="Hôm nay, mình lại tiếp tục với một bài khác cũng về AngularJS.  AngularJS cung cấp một vài chức năng tuyệt vời để giúp chúng ta tạo một ứng dụng tương tác. AngularJS cung cấp một thứ gọi là Directives...">
    <meta name="twitter:url" content="http://localhost:2368/angularjs-using-ng-class/">
    <meta name="twitter:image:src" content="http://localhost:2368/content/images/2015/12/unnamed.png">
    
    <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Article",
    "publisher": "viphat's notes",
    "author": {
        "@type": "Person",
        "name": "Duong Vi Phat",
        "image": "http://localhost:2368/content/images/2015/09/avatar-ninja.png",
        "url": "http://localhost:2368/author/viphat",
        "sameAs": null,
        "description": null
    },
    "headline": "Sử dụng ng-class trong Angular-JS",
    "url": "http://localhost:2368/angularjs-using-ng-class/",
    "datePublished": "2015-12-15T23:55:21.219Z",
    "dateModified": "2015-12-16T16:25:27.320Z",
    "image": "http://localhost:2368/content/images/2015/12/unnamed.png",
    "description": "Hôm nay, mình lại tiếp tục với một bài khác cũng về AngularJS.  AngularJS cung cấp một vài chức năng tuyệt vời để giúp chúng ta tạo một ứng dụng tương tác. AngularJS cung cấp một thứ gọi là Directives..."
}
    </script>

    <meta name="generator" content="Ghost 0.7">
    <link rel="alternate" type="application/rss+xml" title="viphat's notes" href="http://localhost:2368/rss/">

</head>
<body class="post-template">

    

<main class="content" role="main">
    <div id="toc"></div>
    <nav class="main-nav">
          <i class="fa fa-bars js-main-menu-open element-light right" style="font-size:30px; margin-left:5px;"></i>
    </nav>
    <article class="post">



        <header class="post-header">
            <a id="blog-logo" href="http://localhost:2368">
                    <img src="../content/images/2015/06/988902_10153164942799169_3258802522813421684_n.jpg" alt="notes.viphat.work">
            </a>
        </header>


        <span class="post-meta"><time datetime="2015-12-16">16 Dec 2015</time> </span>

        <h1 class="post-title">Sử dụng ng-class trong Angular-JS</h1>

        <section class="post-content">
            <p>Hôm nay, mình lại tiếp tục với một bài khác cũng về AngularJS. </p>

<p>AngularJS cung cấp một vài chức năng tuyệt vời để giúp chúng ta tạo một ứng dụng tương tác. AngularJS cung cấp một thứ gọi là Directives nhằm mục đích can thiệp và thay đổi DOM để đính vào một số hành vi Angular cụ thể vào các thành phần do ta quy định. Liên quan đến các xử lý về mặt giao diện, 2 directive được sử dụng thường xuyên bên cạnh <code>ng-show</code>, <code>ng-hide</code>, <code>ng-if</code> chính là directive <code>ng-style</code> và <code>ng-class</code>. Và bài viết này sẽ hướng dẫn bạn các cách sử dụng <code>ng-class</code> trong Project của bạn. Directive <code>ng-class</code> giúp chúng ta một số công việc tuyệt vời sau:</p>

<ul>
<li>Thêm / Xóa Class dựa trên các biến của Angular.</li>
<li>Thêm / Xóa Class dựa vào các biểu thức điều kiện.</li>
<li>Binding một hoặc nhiều class dựa trên dữ liệu động.</li>
</ul>

<h4 id="usingngclass">Using ngClass</h4>

<h5 id="ngclassusingstringsyntax">ngClass Using String Syntax</h5>

<p>Đây là cách sử dụng đơn giản nhất của <code>ng-class</code>, gán trực tiếp một biến của Angular vào trong directive <code>ng-class</code>:</p>

<pre><code>&lt;!-- whatever is typed into this input will be used as the class for the div below --&gt;  
&lt;input type="text" ng-model="textType"&gt;

&lt;!-- the class will be whatever is typed into the input box above --&gt;  
&lt;div ng-class="textType"&gt;Look! I'm Words!&lt;/div&gt;  
</code></pre>

<p>Đây là ví dụ:</p>

<p data-height="350" data-theme-id="0" data-slug-hash="XXXzWP" data-default-tab="result" data-user="viphat" class="codepen">See the Pen <a href="http://codepen.io/viphat/pen/XXXzWP/">XXXzWP</a> by Duong Vi Phat (<a href="http://codepen.io/viphat">@viphat</a>) on <a href="http://codepen.io">CodePen</a>.</p>  

<script async src="http://assets.codepen.io/assets/embed/ei.js"></script>

<h5 id="ngclassusingarraysyntax">ngClass Using Array Syntax</h5>

<p>Tương tự như cách sử dụng String syntax nhưng áp dụng trong trường hợp bạn muốn apply nhiều class cùng lúc từ nhiều biến của AngularJS (Nếu bạn chỉ muốn dùng một biến thì vẫn có thể gán nhiều css class cho giá trị của biến đó - Ví dụ: <code>$scope.style="text-center text-primary col-md-6"</code>)</p>

<pre><code>&lt;!-- both input boxes below will be classes for the div --&gt;  
&lt;input type="text" ng-model="styleOne"&gt;  
&lt;input type="text" ng-model="styleTwo"&gt;

&lt;!-- this div will take on both classes from above --&gt;  
&lt;div ng-class="[styleOne, styleTwo]"&gt;Look! I'm Words!&lt;/div&gt;
</code></pre>

<h5 id="sdngngclasstrongbiuthciukin">Sử dụng ngClass trong biểu thức điều kiện</h5>

<p>Một cách advanced hơn khi sử dụng <code>ng-class</code> trong AngularJS là sử dụng các biểu thức điều kiện, khi biểu thức này true, class sẽ được apply.</p>

<pre><code>&lt;!-- input box to toggle a variable to true or false --&gt;  
&lt;input type="checkbox" ng-model="awesome"&gt; Are You Awesome?  
&lt;input type="checkbox" ng-model="giant"&gt; Are You a Giant?

&lt;!-- add the class 'text-success' if the variable 'awesome' is true --&gt;  
&lt;div ng-class="{ 'text-success': awesome, 'text-large': giant }"&gt;
</code></pre>

<p>Để sử dụng biểu thức trong <code>ng-class</code> thì bạn phải đặt trong cặp dấu <code>{ }</code>, bên trái của biểu thức (phân cách nhau bởi dấu :) là class định apply (bạn nên đặt chúng trong dấu '' để chứa các ký tự đặc biệt, dấu - và khoảng trắng). Bên phải của biểu thức là biến hoặc điều kiện.</p>

<h5 id="sdngngclassvibiuthcternaryoperator">Sử dụng ngClass với biểu thức Ternary Operator</h5>

<p><code>ng-class</code> cũng hỗ trợ biểu thức dưới dạng ternary operator</p>

<pre><code>ng-class="$even ? 'even-row' : 'odd-row'"&gt;  
</code></pre>

<pre><code>ng-class="$variableToEvaluate ? 'class-if-true' : 'class-if-false'"&gt;  
</code></pre>

<p>ternary operator được dùng nhiều trong trường hợp bạn quy định các class khác nhau dựa vào giá trị true/false của một biến.</p>

<h5 id="dngngcasskthpvidfirstdlastdindexdevendodd">Dùng ngCass kết hợp với $first, $last, $index, $even, $odd</h5>

<p><code>ng-class</code> có thể dùng trong biểu thức điều kiện cùng với các biến của ng-repeat như $first, $last, $index, $even, $odd</p>

<pre><code>&lt;!-- add a class to the first item --&gt;  
&lt;ul&gt;  
    &lt;li ng-class="{ 'text-success': $first }" ng-repeat="item in items"&gt;{{ item.name }}&lt;/li&gt;
&lt;/ul&gt;

&lt;!-- add a class to the last item --&gt;  
&lt;ul&gt;  
    &lt;li ng-class="{ 'text-danger': $last }" ng-repeat="item in items"&gt;{{ item.name }}&lt;/li&gt;
&lt;/ul&gt;

&lt;!-- add a class to the even items and a different class to the odd items --&gt;  
&lt;ul&gt;  
    &lt;li ng-class="{ 'text-info': $even, 'text-danger': $odd }" ng-repeat="item in items"&gt;{{ item.name }}&lt;/li&gt;
&lt;/ul&gt;  
</code></pre>

<h4 id="cccchsdngngclass">Các cách sử dụng ngClass</h4>

<p>Directive <code>ng-class</code> có 2 cách sử dụng: như là một class và như là một attribute (tương ứng với <code>restrict: "AC"</code>). Bản thân mình thì quen dùng <code>ng-class</code> dưới dạng một attribute hơn, bởi vì nó sẽ rất rõ ràng trong việc phân biệt các class động và các class tĩnh được định nghĩa sẵn.</p>

<h5 id="sdngngclassnhmtthnhphncathuctnhclass">Sử dụng ngClass như một thành phần của thuộc tính Class</h5>

<pre><code>&lt;!-- example with string syntax --&gt;  
&lt;!-- use the type variable as a class --&gt;  
&lt;div class="item ng-class:type;"&gt;Stuff Goes Here&lt;/div&gt;

&lt;!-- example with string syntax --&gt;  
&lt;!-- use the styleOne and styleTwo variables as classes --&gt;  
&lt;div class="item ng-class:[styleOne, styleTwo];"&gt;Stuff Goes Here&lt;/div&gt;

&lt;!-- example with evaluated data --&gt;  
&lt;!-- add the text-error class if wrong is true --&gt;  
&lt;div class="item ng-class:{ 'text-error': wrong };"&gt;Stuff Goes Here&lt;/div&gt;  
</code></pre>

<h5 id="sdngngclassnhmtthuctnh">Sử dụng ngClass như một thuộc tính</h5>

<p>github  </p>

<pre><code>&lt;!-- example with string syntax --&gt;  
&lt;!-- use the type variable as a class --&gt;  
&lt;div class="item" ng-class="type"&gt;Stuff Goes Here&lt;/div&gt;

&lt;!-- example with string syntax --&gt;  
&lt;!-- use the styleOne and styleTwo variables as classes --&gt;  
&lt;div class="item" ng-class="[styleOne, styleTwo]"&gt;Stuff Goes Here&lt;/div&gt;

&lt;!-- example with evaluated data --&gt;  
&lt;!-- add the text-error class if wrong is true --&gt;  
&lt;div class="item" ng-class="{ 'text-error': wrong }"&gt;Stuff Goes Here&lt;/div&gt;  
</code></pre>

<p><strong>Kết luận</strong></p>

<p>Trên đây, mình đã liệt kê công dụng và các cách apply <code>ng-class</code> trong AngularJS 1.x, hy vọng chúng hữu ích cho bạn bởi <code>ng-class</code> sẽ đóng góp rất nhiều trong việc tạo một trang web sinh động trong AngularJs.</p>

<ul>
<li>Link gốc của bài viết tại <a href="http://viphat.me/1P74DRJ"><strong>Scotch.io</strong></a></li>
</ul>
        </section>

        <footer class="post-footer">

                <section class="author">
                    <h3>Duong Vi Phat</h3>
                    <p></p>
                </section>

            <section class="share">
                <h3>Share this</h3>
                <a class="icon-twitter" href="http://twitter.com/share?text=S%E1%BB%AD%20d%E1%BB%A5ng%20ng-class%20trong%20Angular-JS&amp;url=http://localhost:2368/angularjs-using-ng-class/" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:2368/angularjs-using-ng-class/" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url=http://localhost:2368/angularjs-using-ng-class/" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

        </footer>


    </article>

</main>


    <footer class="site-footer">
        <!-- <a class="subscribe icon-feed" href="http://localhost:2368/rss/"><span class="tooltip">Subscribe!</span></a> -->
        <div class="inner">
             <section class="social_links">
                <a href="https://twitter.com/viphat" target="_blank">
                  <i class="fa fa-twitter-square fa-2x"></i>
                </a>
                <a href="https://www.facebook.com/viphat" target="_blank">
                  <i class="fa fa-facebook-square fa-2x"></i>
                </a>
                <a href="https://github.com/viphat" target="_blank">
                  <i class="fa fa-github-square fa-2x"></i>
                </a>
             </section>
             <section class="copyright">All content copyright <a href="../">viphat's notes</a> © 2014-2015 • All rights reserved.</section>
             <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a> in <a href="https://github.com/viphat/The-Shell">The Shell</a> theme.</section>
        </div>
    </footer>

        <div class="main-menu-ovrl main-menu-ovrl-hugeinc js-main-menu-ovrl">
    <i class="fa fa-times main-menu-ovrl-close js-main-menu-close" style="margin-left: 5px; font-size:30px;"></i>
    <nav>
        <ul>
                <li style="font-size: 42px; padding-bottom:10px;">
                    <a href="http://localhost:2368/">Home</a>
                </li>
                <li style="font-size: 42px; padding-bottom:10px;">
                    <a href="http://localhost:2368/tag-cloud/">Tag Cloud</a>
                </li>
                <li style="font-size: 42px; padding-bottom:10px;">
                    <a href="http://localhost:2368/blog-archive/">Blog Archive</a>
                </li>
        </ul>
    </nav>
</div>

    <!-- You can safely delete this line if your theme does not require jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-53685619-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
    <script type="text/javascript" src="../assets/js/jqcloud-1.0.4.js"></script>
    <script type="text/javascript" src="../assets/js/toc.min.js"></script>
    <script type="text/javascript" src="../assets/js/shell.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
</body>
